/* Box-sizing border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default margin and padding on body */
body {
  margin: 0;
  padding: 0;
}

/* Remove default styles for links */
a {
  text-decoration: none;
  color: inherit;
}
.slider {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden !important;
}

.slides {
    height: 100%;
}

.slides div {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .5s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.slider span {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.slider img {
    width: 100%;
    cursor: pointer;
}

.slider button {
    position: absolute;
    top: 46%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.title {
    font-size: 18px;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    cursor: auto !important;
}

.slides {
    font-size: 30px;
    text-align: center;
    color: black;
}

#prev {
    left: 0;
    border-radius: 0 10px 10px 0;
}

#next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.btn__action .btn__img {
    filter: invert(27%) sepia(96%) saturate(2414%) hue-rotate(202deg) brightness(105%) contrast(104%);
}

.btn__action[disabled] .btn__img {
    filter: invert(72%) sepia(9%) saturate(2640%) hue-rotate(169deg) brightness(102%) contrast(104%);
}

@media screen and (max-width: 992px) {
    .slider {
        height: 80vh;
    }
}

/* Breakpoint for larger desktops (1200px) */
@media screen and (max-width: 1200px) {
    .slider {
        height: 80vh;
    }
}